.cabecalho {
    background-color: #ce41c785;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;  
}

.cabecalho-imagem{
    min-width: 10%;
    width: 8%;
    padding: 0 100px 0 0 ;
}

.cabecalho-lista-item{
    display: inline-flexbox;
    margin: 12PX 12px;
    font-size: 24px;
}

.img1{
width: 10%;
min-width: 10%;
padding: 100%;
}

.img2{
    width: 10%;
    min-width: 10%;
    padding: 100%;
}


.img3{
    width: 10%;
    min-width: 10%;
    padding: 100%;
}


.img4{
    width: 10%;
    min-width: 10%;
    padding: 100%;
}


.img5{
    width: 10%;
min-width: 10%;
padding: 100%;
}


.img6{
    width: 10%;
    min-width: 10%;
    padding: 100%;
}